<%- include("../partials/html-head") %> 
<!-- <link rel="stylesheet" href="/stylesheets/flights/new.css" -->
<%- include("../partials/nav") %>

<main>
  <h1>Edit Flight</h1>
  <body>
  <form action="/flights/<%= flight._id %>?_method=PUT" method="POST">
    <label for="airline-input">Airline:</label>
    <select name="airline" id="airline-select">
      <option value="American">American</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
    </select><br><br>
    <label for="airport-input">Airport:</label>
    <select name="airport" id="airport-select">
      <option value="DEN">DEN</option>
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select><br><br>
    <label for="flight-no-input">Flight #:</label>
    <input type="number" name="flightNo" id="flight-no-input" min="10" max="9999"><br><br>
    <label for="departs-input">Departs:</label>
    <input type="datetime-local" name="departs" id="departs-input"><br><br>
    <button type="submit">Save</button><br>
  </form><br>
  <a href="/flights/<%= flight._id %> ">Cancel</a>
  </body>
</main>


<%- include("../partials/footer") %> 