<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Flight List</h1>
  <table>
    <thead>
      <tr>
        <th>Delete</th>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departure Date</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(flight => { %>
        <tr>
          <td class="<%= flight.color %>">
            <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST" class="<%= flight.color %>">
          <button class="<%= flight.color %>">X</button>
          </form> 
          </td>
          <td class="<%= flight.color %>"><%= flight.airline %></td>
          <td class="<%= flight.color %>"><%= flight.airport %></td>
          <td class="<%= flight.color %>"><%= flight.flightNo %></td>
          <td class="<%= flight.color %>"><%= flight.departs %></td>
          <td class="<%= flight.color %>"><a href="/flights/<%= flight._id %>">Details</a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>