<%- include("../partials/html-head") %> 
<!-- <link rel="stylesheet" href="/stylesheets/flights/new.css" -->
<%- include("../partials/nav") %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline: </div>
    <div><%= flight.airline %></div><br>
    <div>Airport: </div>
    <div><%= flight.airport %></div><br>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div><br>
    <div>Departure Date: </div>
    <div><%= flight.departs %></div><br>
  </section>
</main>



<%- include("../partials/footer") %> 