<%- include("../partials/html-head") %> 
<!-- <link rel="stylesheet" href="/stylesheets/flights/new.css" -->
<%- include("../partials/nav") %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline: </div>
    <div><%= flight.airline %></div><br>
    <div>Airport: </div>
    <div><%= flight.airport %></div><br>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div><br>
    <div>Departure Date: </div>
    <div><%= flight.departs %></div><br>
  </section>
  <a href="/flights/<%= flight._id %>/edit">Edit</a>

</main>

<h1>Add ticket</h1>
  <form id="new-form" action="/flights/<%= flight._id %>/tickets" method="POST">
    <label for="seat-input">Seat: (A1-F99)</label>
    <input name="seat" id="seat-input" required pattern="[A-F][1-9]\d?">
    <label for="price-input">Price:</label>
    <input type="number" name="price" id="price-input" min="0">
    <button type="submit">Add Ticket</button>
  </form>



<%- include("../partials/footer") %> 