<%- include("../partials/html-head") %> 
<!-- <link rel="stylesheet" href="/stylesheets/flights/new.css" -->
<%- include("../partials/nav") %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline: </div>
    <div><%= flight.airline %></div><br>
    <div>Airport: </div>
    <div><%= flight.airport %></div><br>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div><br>
    <div>Departure Date: </div>
    <div><%= flight.departs %></div><br>
  </section>
  <a href="/flights/<%= flight._id %>/edit">Edit</a>

</main>

<h2>Add ticket</h2>
  <form id="add-review-form" action="/flights/<%= flight._id %>/tickets" method="POST">
    <label for="seat-input">Seat: (A1-F99)</label>
    <input name="seat" id="seat-input" required pattern="[A-F][1-9]\d?">
    <label for="price-input">Price:</label>
    <input type="number" name="price" id="price-input" min="0">
    <button type="submit">Add Ticket</button>
  </form>
  <% if (flight.tickets.length) { %> 
    <table>
      <thead>
        <tr>
          <th>Ticket Number:</th>
          <th>Price:</th>
          <th>Date:</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(ticket => { %> 
          <tr>
            <td><%= ticket.seat %> </td>
            <td><%= ticket.price %> </td>
            <td><%= ticket.createdAt.toLocaleDateString() %> </td>
          </tr>
        <% }) %> 
      </tbody>
    </table>
  <% } else{ %> 
    <h2>No Tickets Yet</h2>
  <% } %> 


<%- include("../partials/footer") %> 